body {
    font-family: Arial, sans-serif;
    background-color: aqua;
}

h1 {
    text-align: center;
}

#gallery {
    max-width: 1200px;
    margin: 0 auto;
}

figure {
    position: relative;
    text-align: center;
}

figcaption {
    margin-top: 10px;
    font-size: 1.2em;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 0 10px;
}

ul li img {
    cursor: pointer;
    transition: filter 0.3s;
}

ul li img:hover {
    filter: grayscale(1);
}

ul li img:active {
    filter: grayscale(1);
}